.wrapperContainer{
  height: 100vh;
}
.card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 16px; /* Adds spacing between grid items */
}

.cardTitle{
    font-size: 30px;
    font-weight: bold;
}
.header{
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;

}